//scss variables
$untGreen: #006A31;
$font-family-base:"Open Sans", Verdana, sans-serif;
$title-font: "Gentium Book Basic", Verdana, sans-serif;
$theme-colors: (
    primary: $untGreen,
);
$enable-shadows: true;
$enable-gradients: true;

//import bootstrap scss and fonts
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap');


/* -----------------------------
        CUSTOM CSS
 -----------------------------*/
//general
    h3 {
        padding-left: 15px;
    }

    // p {
    //     width: 750px;
    // }

    .overflow-ellipsis {
        text-overflow: ellipsis;
    }

    .link {
        color: #FFF;
    }

    .link:hover {
        color: #FFF;
        text-decoration: none;
    }
    .card-title{
        font-family: $title-font;
    }

//landing page
    h1 {
        text-align: center;
        color: $untGreen;
        font-weight: 800;
    }
    /* Image */
    img.center {
        display: block;
        margin: 0 auto;
    }

//Navbar
    /* Navigation bar */
    nav {
        margin-left: 110px;
    }

    .topnav {
        background-color: #181818;
        overflow: hidden;
        position: relative;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #b5b5b5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        color: white;
    }

    img.unt-banner {
        width: auto;
        height: 120px;
        //padding-left: 30px;
    }

/* Button */
    .btn-primary {
        background-color: $untGreen !important;
        border-color: $untGreen !important;
        display: inline-block;
        margin-left: 10px;
        margin-right: 5px;
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        background-color: lighten($color: $untGreen, $amount: 10) !important;
        margin-left: 10px;
        margin-right: 5px;
    }

    .btn.btn-primary.mb-2 {
        margin-left: 15px;
    }



    .custom-control.custom-checkbox {
        margin-left: 15px;
    }

    .forgot-password.text-left {
        margin-left: 15px;
    }

/* Header */
    .header {
        height: 75px;
        position: relative;
        background-color: $untGreen;
    }

    .banner {
        display: block;
        height: 103px;
        width: auto;
        z-index: 998;
        position: absolute;
        margin-left: 50px;
    }

    .title-text {
        color: white;
        font-family: $title-font;
        padding-left: 170px;
        margin-top: 8px;
        white-space: nowrap;
    }
    .title-text span {
        padding-left: 20px;
        font-family: $font-family-base;
    }

    .overflow {
        white-space: nowrap;
        overflow: hidden
    }

    .search {
        padding: 15px;
    }
    .navbar {
        height: 50px;
        padding-left: 50px;
    }
