@import "../Application.scss";

#Sidebar-Title {
    padding: 1.5vh 0vw;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 2vh 2vw;
    cursor: pointer;
}

#Sidebar-List {
    list-style: none;
    padding: 0;
    margin: 25% 0vh;
}

#Sidebar-List hr {
    width: 75%;
}

#Sidebar-List li {
    font-size: 20px;
    cursor: pointer;
    margin: 0% 10%;
}

#Dashboard-Container {
    width: 80vw;
    height: 75vh;
    margin: 5vh auto;
    border-radius: 25px;
    box-shadow: 8px 13px 23px 0px rgba(0, 0, 0, 0.37);
    text-align: center;
    display: flex;
    overflow: hidden;
}

#Dashboard-Content {
    height: inherit;
    width: 85%;
    display: flex;
    flex-direction: column;
}

#Content-Title {
    padding: 1.5vh 0vw;
    font-weight: bold;
    height: auto;
    width: 100%;
    margin: 0;
}

#Dashboard-Nav{
    height: 100%;
    width: 15%;
    border-radius: 25px 0px 0px 25px;
    background-color: $untGreen;
    color: white;
}

#Edit-Projects-Button {
    width: 30%;
    border-radius: 15px;
    background-color: $untGreen;
    color: white;
    border: hidden;
    margin: 20px auto;
}

#Edit-Projects-Button:hover,
#Edit-Projects-Button:active{
    background-color: #119400;
}

#Batch-Edit-Table, th, td {
    border: 1px solid black;
}

#Batch-Edit-Table tbody, thead{
    width: 100%;
    margin: 0;
}

#Batch-Edit-Table tr{
    cursor: pointer;
    width: 100% !important;
}

.Selected-Row{
    background-color: lightgray;
}

.Unselected-Row:hover{
    background-color: lightgray;
}

#Batch-Edit-Table tbody {
    overflow: auto;
    height: 45vh;
}

#Scrollable-div{
    width: 100%;
    overflow-y: scroll;
}