@import "../Application.scss";

#Sidebar-Title {
    padding: 1.5vh 0vw;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 2vh 2vw;
    cursor: pointer;
}

#Sidebar-List {
    list-style: none;
    padding: 0;
    margin: 25% 0vh;
}

#Sidebar-List hr {
    width: 75%;
}

#Sidebar-List li {
    font-size: 20px;
    cursor: pointer;
    margin: 0% 10%;
}

#Dashboard-Container {
    width: 80vw;
    height: 75vh;
    margin: 5vh auto;
    border-radius: 25px;
    box-shadow: 8px 13px 23px 0px rgba(0, 0, 0, 0.37);
    text-align: center;
    display: flex;
    overflow: hidden;
}

#Dashboard-Content {
    height: inherit;
    width: 85%;
    display: flex;
    flex-direction: column;
}

#Content-Title {
    padding: 1.5vh 0vw;
    font-weight: bold;
    height: auto;
    width: 100%;
    margin: 0;
}

#Dashboard-Nav{
    height: 100%;
    width: 15%;
    border-radius: 25px 0px 0px 25px;
    background-color: $untGreen;
    color: white;
}

#Project-Select{
    text-align: left;
    margin: 0 5%;
    size: 12;
    overflow-y: scroll;
    border: hidden;
}

#Project-Select:focus{
    border:hidden;
}

#Project-Select option{
    cursor: pointer;
    height: 40px;
    border-top: solid;
    border-bottom: solid;
    border-width: 0.1px;
    border-color: lightgray;
}

#Project-Select option:hover,
    option:focus,
    option:active { 
    background-color: lightgray;
}

#Project-Select option:checked{
    background-color: lightgray;
}

#Edit-Projects-Button {
    width: 30%;
    border-radius: 15px;
    background-color: $untGreen;
    color: white;
    border: hidden;
    margin: 20px auto;
}

#Edit-Projects-Button:hover,
#Edit-Projects-Button:active{
    background-color: #119400;
}