@import "../Application.scss";

.user-container {
  text-align: left;
  overflow-y: scroll;
  width: 100%;
}

.user-row {
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.make-admin-button {
  width: 100%;
}
