@import "../Application.scss";

.import-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.import-template-container {
}

.import-upload-container {
}
